HOST=127.0.0.1
PORT=8000

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=chatapp
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=chatapp

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
